html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

nav {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

#in-range-info {
    text-align: center;
}

#pano-border {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 10px;
    width: 100%;
    height: 75%;
}

#pano {
    margin: 0;
    padding: 0px;
    width: 100%;
    height: 100%;
}

#tiny-map-border {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 3%;
    left: 1.5%;
    z-index: 10;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background-color: #0d6efd;
}

#tiny-map {
    visibility: hidden;
    display: flex;
    z-index: 11;
    width: 245px;
    height: 245px;
    border-radius: 50%;
}

.animation-open {
    animation: expand_center 0.5s;
    animation-fill-mode: forwards;
}
@keyframes expand_center {
    from {
        transform: scale(0);
      }
      to {
        transform: scale(1);
      }   
}

.animation-close {
    animation: collapse_center 0.5s;
    animation-fill-mode: forwards;
}
@keyframes collapse_center {
    from {
        transform: scale(1);
      }
      to {
        transform: scale(0);
      }   
}

#info-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 7%;
}

#gesture-container {
    display: flex;
    align-items: center;
    padding: 0.5%;
    margin: 0 0.5%;
    width: 20%;
    background-color: #a6a6a6;
    color: white;
    border-radius: 0.25rem;
}

#transcript-container {
    display: flex;
    align-items: center;
    padding: 0.5%;
    margin: 0 0.5%;
    width: 20%;
    background-color: #a6a6a6;
    color: white;
    border-radius: 0.25rem;
}

#notification-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1%;
}