html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

nav {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

#in-range-info {
    text-align: center;
}

#pano-border {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 10px;
    width: 100%;
    height: 75%;
}

#pano {
    margin: 0;
    padding: 0px;
    width: 100%;
    height: 100%;
}

#info-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 7%;
}

#gesture-container {
    display: flex;
    align-items: center;
    padding: 0.5%;
    margin: 0 0.5%;
    width: 20%;
    background-color: #a6a6a6;
    color: white;
    border-radius: 0.25rem;
}

#transcript-container {
    display: flex;
    align-items: center;
    padding: 0.5%;
    margin: 0 0.5%;
    width: 20%;
    background-color: #a6a6a6;
    color: white;
    border-radius: 0.25rem;
}

#notification-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1%;
}